#index {
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}


.card {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 86px;
    border-radius: 15px;
    width: 500px;
    height: 300px;
}

.card-header {
    padding-bottom: 15px;
    color: rgb(243, 230, 45);
    position: relative;
    top: -50px;
}


.card-header::after {
    content: "";
    width: 490px;
    height: 1px;
    background-color: #fff;
    display: block;
    margin-top: -17px;

}

.card-content-area {
    flex-direction: column;
    padding: 10px 0;
    position: relative;
    top: -60px;

}

.card-content-area p {
    color: rgb(237, 226, 226);
    font-size: 16px;
    line-height: 1.2;
    padding: 10px;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}