body {
    padding: 0;
    margin: 0;
    background-color: #0c1534;
}

/* HEADER */

#menu-h {
    background-color: rgba(0, 0, 0, 0.3);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px;
    margin-bottom: 90px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#menu-h a {
    color: rgb(243, 230, 45);
    text-decoration: solid;
    font-size: 20px;
}

#menu-h li {
    display: inline-block;
    margin: 20px;
}

#menu-h li:hover {
    padding: 10px;
    border-radius: 5px;
    box-shadow: inset 0 0 0 25px #ffffff;
}

#menu-h a:hover {
    color: black;
}

nav img {

    position: absolute;
    /* top: 100; */
    left: 0;
    width: 13%;
    padding: 80px;


}