body {
    padding: 0;
    margin: 0;
    background-color: #0c1534;
}

/* HEADER */

#menu-h {
    background-color: rgba(0, 0, 0, 0.3);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px;
    margin-bottom: 90px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#menu-h a {
    color: rgb(243, 230, 45);
    text-decoration: solid;
    font-size: 20px;
}

#menu-h li {
    display: inline-block;
    margin: 20px;
}

#menu-h li:hover {
    padding: 10px;
    border-radius: 5px;
    box-shadow: inset 0 0 0 25px #ffffff;
}

#menu-h a:hover {
    color: black;
}

nav img {

    position: absolute;
    /* top: 100; */
    left: 0;
    width: 13%;
    padding: 80px;


}

section {
    width: 100%;
    min-width: 360px;
    max-width: 1280px;
    margin: auto;
    font-family: sans-serif;
    color: #ffffff;
}

section p {
    font-weight: bold;
    background-color: gray;
    padding: 10px;
}

section b {
    color: red;
}

section table {
    width: 100%;
    color: #ffffff;
    font-family: inherit;
    text-align: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #616161;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #0c1534;
}