/* CADASTRO */

#cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
}

#cadastro b {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

.card {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 40px;
    border-radius: 15px;
    width: 280px;
}

.card-header {
    padding-bottom: 15px;
    color: rgb(243, 230, 45);
}

.card-header::after {
    content: "";
    width: 110px;
    height: 1px;
    background-color: #fff;
    display: block;
    margin-top: -17px;
    margin-left: -5px;
}

#cadastro select {
    color: #000000;
    background-color: #fff;
    font-size: 17px;
    border-radius: 5px;
}

button {
    background-color: rgb(243, 230, 45);
    border: none;
    color: #000000;
    margin: 10px 0;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 5px;

}

button:hover {
    background-color: #ffff;
    color: black;
}