/* INDEX */

#index {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 40px;
    border-radius: 15px;
    width: 280px;
}

.card-header {
    padding-bottom: 15px;
    color: rgb(243, 230, 45);
}

.card-header::after {
    content: "";
    width: 290px;
    height: 1px;
    background-color: #fff;
    display: block;
    margin-top: -17px;
    margin-left: -5px;
}

.card-content-area {
    display: flex;
    flex-direction: column;
    padding: 10px 0;

}

.card-content-area a {
    color: #fff;
    background-color: #0c1534;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.card-content-area a:hover {
    background-color: #fff;
    color: black;
}